/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

@keyframes -global-from-left {
  0% {
    transform: rotateX(50deg) translateX(-200vw) skewX(-50deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
.typity {
  background-position: 0% 100%;
  box-sizing: border-box;
  color: #5D6BFF;
  font-size: 3rem;
  padding-right: 2px;
  position: relative;
  transition: background-position 1s;
}
.typity::after {
  animation: blink-cursor 0.75s step-end infinite;
  background-color: transparent;
  content: "";
  display: block;
  height: 3rem;
  position: absolute;
  right: -5px;
  bottom: 0;
  width: 5px;
}
.typity.highlight {
  background-image: linear-gradient(to left, rgba(165, 134, 134, 0.2) 50%, transparent 50%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 200% 3rem;
}
.typity.highlight::after {
  animation: none;
}
@keyframes blink-cursor {
  0% {
    background-color: transparent;
 }
  50% {
    background-color: #5D6BFF;
 }
}
