.footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--muted-2);
}

.footer__logo {
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  margin: 0;
}

.footer__credit {
  font-size: 1rem;
  color: #010101;
}
