@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: white;
}

.rounded-2-5xl {
  border-radius: 1.6rem /* idk */;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.tooltip {
    @apply invisible absolute;
  }
  
  .has-tooltip:hover .tooltip {
    @apply visible z-50
  }
  
@tailwind base;
@tailwind components;
@tailwind utilities;
