.login_box {
  width: 100%;
  max-width: 681px;
  border-radius: 10px;
  background-color: white;
  padding: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 3rem;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_margin {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 3.125rem;
}

.login_header {
  font-size: 25px;
  font-weight: 900;
}

.logo {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 78px;
}

.button_center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button_container {
  width: 100%;
}

.button_link {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
}

/*mobile breakpoint*/
@media only screen and (max-width: 600px) {
  .p_margin {
    font-size: 15px;
  }

  .login_header {
    font-size: 30px;
  }

  .logo {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    width: 30px;
  }

  .button_link {
    margin-bottom: 0.7rem;
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  .login_box {
    padding: 2rem;
  }
}

/*Ultra small breakpoint*/
@media only screen and (max-width: 300px) {
  .p_margin {
    font-size: 15px;
  }

  .login_header {
    font-size: 25px;
  }

  .logo {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  .button_link {
    margin-bottom: 0.7rem;
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  .login_box {
    padding: 1.5rem;
  }
}
