.main {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: space-between;
    align-items: center;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    border-right: 1px solid #E9E9E9;
    box-sizing: border-box;

    height: 100%;
    padding: 30px 20px;
}
.projectInfo {
    display: flex;
    flex-direction: row;
    
    justify-content: flex-start;
    align-items: center;
    
    margin-bottom: 30px;
    margin-left: 5px;
}

.logo {
    width: 2.2rem;
    height: 2.2rem;
}

.projectInfoText {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;

    padding-top: 2.5px;
    padding-bottom: 2.5px;

    margin-left: 15px;
}

.projectInfoTextName {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.projectInfoTextCount {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
}


.right {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    
    justify-content: space-between;
    align-items: center;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #E9E9E9;

    width: 100%;
    height: 95px;

    padding-left: 20px;
    padding-right: 20px;

    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
}

.buttonSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
}


.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border-radius: 10px;
    height: 3.2rem;
    width: 16rem;

    padding-top: 1px;
    padding-bottom: 1px;

    background-color: transparent;
    fill: #2D3748;
    color: #2D3748;
    cursor: pointer;
    
    margin: 2px 0;
    user-select: none;
}
.selected {
    background-color: #F1F1F1;
    fill: #695CFF;
    color: #695CFF;
}
.buttonIcon {
    margin-left: 20px;    

    width: 20px;
    height: 20px;
}
.buttonTitle {
    margin-left: 20px;

    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}

.searchBar {
    box-shadow: 0px 0px 5px #A6A6A6;
    border-radius: 5px;

    color: #9099A8;

    width: 615px;
    height: 45px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.searchIcon {
    margin-left: 15px;
    margin-right: 20px;
    
    width: 24px;
    height: 24px;
}
.search {
    outline: none;
    border: none;

    width: 100%;
    height: 100%;

    font-style: normal;
    font-weight: bold;
    font-size: 15px;

    padding-right: 15px;
    background-color: transparent;
}

.navbarSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #000;
    cursor: pointer;
    user-select: none;
}
.backIcon {
    width: 24px;
    height: 24px;
}
.backText {
    padding-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}

.bellIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    color: #9099A8;
}
.userIcon {
    display: block;
    margin-left: 20px;
    margin-right: 15px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dropdownIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12px;
    height: 6px;

    margin-right: 20px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    width: 100%;
    
    box-sizing: border-box;
    padding-right: 300px;
}

.homeTitle {
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 20px;
}
.homeHeader {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    text-align: center;

    margin-bottom: 30px;
    width: 620px;
}

.homeWidgetWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 750px;
    height: 150px;

    border-radius: 20px;
    background-color: #F1F1F1;

    margin: 10px;
    cursor: pointer;
    user-select: none;
}
.homeWidget {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.homeWidgetIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 70px;

    margin: 40px;
    border-radius: 50%;
}

.homeWidgetContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    height: 95px;
}
.homeWidgetTitle {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
}
.homeWidgetText {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;

    width: 410px;
}
.homeGoto {
    width: 40px;
    height: 40px;

    margin-right: 50px;
}