.main {
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: space-between;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  border-right: 1px solid #e9e9e9;
  box-sizing: border-box;

  height: 100%;

  padding: 20px;
}

.projectInfo {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;

  margin-bottom: 30px;
  margin-left: 5px;
}

.logo {
  height: 2.2rem;
  width: 2.2rem;
}

.projectInfoText {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: flex-start;

  padding-top: 2.5px;
  padding-bottom: 2.5px;

  margin-left: 15px;
}

.projectInfoTextName {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.projectInfoTextCount {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
}

.right {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}

.buttonSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-radius: 10px;
  height: 2.8rem;
  width: 13rem;

  background-color: transparent;
  fill: #2d3748;
  color: #2d3748;
  cursor: pointer;

  margin: 2px 0;
  user-select: none;
}

.selected {
  background-color: #f1f1f1;
  fill: #695cff;
  color: #695cff;
}

.buttonIcon {
  margin-left: 20px;

  width: 20px;
  height: 20px;
}

.buttonTitle {
  margin-left: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e9e9e9;

  width: 100%;

  padding: 1rem 1.3rem;

  box-sizing: border-box;
}
.searchBar {
  box-shadow: 0px 0px 5px #cccccc;
  border-radius: 5px;

  color: #9099a8;

  width: 30rem;
  height: 2.5rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.searchIcon {
  margin-left: 15px;
  margin-right: 20px;

  width: 24px;
  height: 24px;
}
.search {
  outline: none;
  border: none;

  width: 100%;
  height: 100%;

  font-style: normal;
  font-weight: bold;
  font-size: 15px;

  padding-right: 15px;
  background-color: transparent;
}

.navbarSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: #000;
  cursor: pointer;
  user-select: none;
}
.backIcon {
  width: 24px;
  height: 24px;
}
.backText {
  padding-left: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}

.bellIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;

  color: #9099a8;
}
.userIcon {
  display: block;
  margin-left: 10px;
  margin-right: 5px;

  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
}
.dropdownIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 8px;
  height: 4px;

  margin-right: 20px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
  width: 100%;
}
