.typed-element .typed-cursor {
	-webkit-animation: svelte-qb0pfd-typedjsBlink 0.7s infinite;
	animation: svelte-qb0pfd-typedjsBlink 0.7s infinite;
	color: #5d6bff;
	opacity: 1;
}
@-webkit-keyframes svelte-qb0pfd-typedjsBlink {
	50% {
		opacity: 0;
	}
}
@keyframes svelte-qb0pfd-typedjsBlink {
	50% {
		opacity: 0;
	}
}
.notifications.svelte-u5ypha {
	align-items: center;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	left: 0;
	margin: 0 auto;
	padding: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 10px;
	z-index: 9999;
}
.toast.svelte-u5ypha {
	border-radius: 10px;
	flex: 0 0 auto;
	margin-bottom: 10px;
}
.content.svelte-u5ypha {
	color: #fff;
	display: block;
	font-weight: 500;
	padding: 10px;
}
