# next.js build output
.next

# dotenv environment variables file
.env

# Dependency directories
node_modules/

# Logs
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Non-Yarn lockfiles
pnpm-lock.*
package-lock.json
